@font-face {
  font-family: "monument-extended";
  src: url("../fonts/MonumentExtended-Regular.woff2") format('woff2');
  font-weight: regular;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America-Regular.otf") format('opentype');
  font-weight: regular;
}

.Home{
  background-color: white;
}

.wrapper-1{
  text-align: left;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  display: block;

}

.divider{
  color: #fff;
  mix-blend-mode: difference;
}

.grid-container{
  padding-left: 40px;
  padding-right: 40px;
  
}


.grid-item{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 120px;
}

.text-category{
font-family: monument-extended;
font-weight: regular;
font-size: 18px;
line-height: 21px;
letter-spacing: -0.11em;
min-width: 260px;
margin-bottom: 25px;
color: #fff;
mix-blend-mode: difference;
}

.text-main{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #fff;
mix-blend-mode: difference;
}


.link{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #fff;
mix-blend-mode: difference;
}

.a_diff{
  color: #fff;
  mix-blend-mode: difference;
}

.text-name{
  font-family: GT-America;
font-style: regular;
font-size: 28px;
line-height: 150%;
text-transform: uppercase;
}

.text-item-name{
font-family: GT-America;
font-style: regular;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
display: inline;
}

.text-item-name-sub{
  font-family: GT-America;
  font-style: regular;
  font-size: 16px;
  line-height: 150%;
  display: inline;
  }

.link-item{
  text-decoration: none;
}

.link-item:hover{
  color: "#000000";
  text-decoration: "underline #000000"
}


