@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America-Regular.otf") format('opentype');
  font-weight: regular;
}

.Home{
  background-color: white;
}

.wrapper-1{
  text-align: left;
  width: 100%;
  padding-top: 20px;
  align-items: center;
  display: block;
  background-color: #fff;
  
}




.link{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #fff;
mix-blend-mode: difference;
}


@media screen and (min-width: 600px) {
  
  .text-name{
    font-family: GT-America;
    font-style: regular;
    font-size: 28px;
    line-height: 130%;
    }

  .grid-container{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0px;
    display: flex;      
    width: 100%;
    margin-bottom: 150px;
    
    
    
  }
}

@media screen and (max-width: 599px) {
  .text-name{
    font-family: GT-America;
    font-style: regular;
    font-size: 22px;
    line-height: 130%;
    }
    .grid-container{
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 0px;
      display: flex;      
      width: 100%;
      margin-bottom: 70px;
    }
}







.text-name-portfolio{
  font-family: GT-America;
  font-style: regular;
  font-size: 28px;
  line-height: 130%;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.25rem; 
  position: relative;
  
  }
  
  .text-name-portfolio::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
  }
  
  .text-name-portfolio:hover::before {
    width: 100%;
  }

.text-item-name{
font-family: GT-America;
font-style: regular;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
display: inline-block;
position: relative;
margin-bottom: 15px;

}

.text-item-name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.25s ease-out;
}

.text-item-name:hover::before {
  width: 100%;
}

.text-item-name-sub{
  font-family: GT-America;
  font-style: regular;
  font-size: 18px;
  line-height: 150%;
  display: inline;
  }

.link-item{
  text-decoration: none;
}




.hyper-links{
  font-family: GT-America;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #000;
  margin-bottom: 20px;
  
}


.copy-project{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  mix-blend-mode: difference;
  margin-bottom: 40px;
  text-transform: uppercase;
}



