.Home {
    text-align: left;
    width: 90%;
    height: 80%;
    max-width: 1600px;
    margin: 50px auto;
  }

.text-name{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  min-width: 260px;

}

.text-normal{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}
  
  
  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .paragraph{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
.link{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  }