.Scent{
    width: 100%;
    text-align: left;
    background-color: white;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
    width: 100%;
}

.root {
    display: flex;
    offset: 60;
    max-width: 1440;
    grid-template-columns: 1fr;
}


a {
    color:black;
  }



