.nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left:5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 20px;
    color: #ffffff;
    mix-blend-mode: difference;
    z-index: 9999 !important;  
  }
 
  .nav a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin: 8px;
    color: #ffffff;
  }
 
 