.nav {
    position: fixed;
    width: 100%;
    max-width: 1080px;
    top: 0px;
    right:5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 20px;
    mix-blend-mode: difference;
    color: #fff;
    z-index: 2;
  }
 
  .nav a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: 8px;
    color: #ffffff;
    mix-blend-mode: difference;
  }
 
  .nav a:not(:last-child) {
    margin-right: 15px;
    color: #ffffff;
    mix-blend-mode: difference;
  }